In [1]:
x= abs(2+3j)         #abs means absolute value

print(x)

3.605551275463989

In [6]:
list =all[True,True,False]

print(list)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [12]:
x= ascii("My name is Amit")

print(x)

y= ascii("please show age 40")
print(y)

z= ascii(100)
print(z)

'My name is Amit'
'please show age 40'
100

In [13]:
a=10
b=20

c= bool(a>b)
print(c)

False

In [22]:
x= format(0.5,'%')

print(x)

50.000000%

In [23]:

class person :
    name ="Amit"
    age ="23"
    country ="Bangladesh"
    
x= getattr (person, "name")
print(x)

Amit

In [25]:
x= "Python"
y= len(x)

print(y)

6

In [3]:
# map function :


def fruit(a) :
    return len(a)

x= ('apple','orange')
y= list(map(fruit,x))            # map (function , iterable number)          

print(y)

[5, 6]

In [32]:
a= min(5,10)
b= max(5,10)

print(a)
print(b)

5
10

In [38]:
class person :
    name ="Amit"
    age ="23"
    country ="Bangladesh"
    
x= setattr (person, 'age', 30)
print(x)

None

In [39]:
a= [2,1,3,4,5,7,6]

b= sorted(a)
print(b)

[1, 2, 3, 4, 5, 6, 7]