In [26]:
# print the final score of a and b

a= [5,10,15]
b= [4,12,10]

def compare(a,b) :
    
    count1 =0
    count2 =0
    for i in range(3) :
        if a[i]>b[i] :
            count1=count1+1
            
        else :
             count2=count2+1
                
    c = [count1,count2]            
    return c
    

compare(a,b)

[2, 1]

In [10]:
n = int(input("Enter a value : "))

if n%2 !=0 :
    print("Weird")

if n%2 ==0 :
    if 2<=n<=5 :
        print("Not Weird")

    elif 6<=n<=20 :    
        print("Weird")

if n%2 ==0 and n>20 :
    print("Not Weird")

Enter a value : 22
Not Weird

In [28]:
N=5

for i in range(5) :

    print(pow(i,2))

0
1
4
9
16

In [39]:
# Checking leap year :

n =int(input("Enter a year : "))

def year(n) :
    
    if n%4 ==0 :
        if n%100 ==0 and n%400 ==0 :
            print("True")
            
        else :
            print("False")
            
    else :
        print("False")
        
year(n)

Enter a year : 2300
False

In [52]:
#n=3   #print 1 to 3 


for i in range(1,4):
    print(i,end="")

123

In [56]:
#n=3     # print 1 to 3



print([i for i in range(1,4)])

[1, 2, 3]

In [59]:
a= [1,2,3,4,5]
n= 5

def second(a) :
    for i in range(n) :
    
        big=i
        for j in range(i+1,n) :
            if a[big]<a[j]:
                big=j
                
    print(a[big])
                
second(a)

5

In [31]:
# code for runner-up score :


n=5
#arr=[2,3,6,6,5]


arr=list(map(int, input().split()))

b= max(arr)

i=0
for i in range(5) :
    if b==max(arr) :
        c = arr.remove(b)
        d = max(arr)
        i=i+1
        
print("So the runner up score is : ",d)

2 3 6 6 5
So the runner up score is :  5

In [8]:
# damo code

n=5
arr=[[input(),float(input())] for _ in range(0,n)]
arr.sort(key=lambda x: (x[1],x[0]))

names = [i[0] for i in list]
marks = [i[1] for i in list]

print(names)
print(marks)

rafi
50.5
amit
50.5
sufi
40.5
raj
60.8
shuvo
70.8
['sufi', 'amit', 'rafi', 'raj', 'shuvo']
[40.5, 50.5, 50.5, 60.8, 80.8]

In [6]:
# programs for getting the names of second lowest marks 


n= 5

list= [[input(),float(input())] for j in range(0,n)]

list.sort(key= lambda x : (x[1],x[0]))

names = [i[0] for i in list]
marks = [i[1] for i in list]

minimum =min(marks)


for x in range(0,len(marks)) :
    
    if marks[0]== minimum :
        marks.remove(marks[0])
        names.remove(names[0])
        
        
for y in range(0,len(marks)) :
        
    if marks[y] ==min(marks) :
        print("The second lowest marks get by : ",names[y])

rafi
50.5
amit
50.5
sufi
40.5
raj
60.8
shuvo
80.8
The second lowest marks get by :  amit
The second lowest marks get by :  rafi

In [2]:
n=2

for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))

amit 50.5 60.7
rafi 70.4 67.8

In [7]:
#if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    query_score=student_marks[query_name]
    a=(sum(query_score)/len(query_score))
    print("{0:.2f}".format(a))

2
amit 50.5 60 65.5
rafi 50 60 70
amit
58.67

In [1]:
n = int(input())
integer_list = map(int, input().split())



t= tuple(integer_list)
print(hash(t))

2
1 2
3713081631934410656

In [5]:
name1 = input()
name2 = input()

print(" Hello " +name1,name2 +" ! . We are learning python !! ")

amit
rafi
 Hello amit rafi ! . We are learning python !!

In [11]:
def write (a,b) :
    
    a = input()
    b = input()

    print("Hello " + a,b + " ! We are learning python !! ")
    

write(a,b)

amit
rafi
Hello amit rafi ! We are learning python !!

In [5]:
# to replace an element in the list


name = "beautiful"

a = list(name)
print(a)

print(a[5])

a[5] = 5

print(a)

['b', 'e', 'a', 'u', 't', 'i', 'f', 'u', 'l']
i
['b', 'e', 'a', 'u', 't', 5, 'f', 'u', 'l']

In [3]:
# using fuction


def mutate_string(string, position , character):
    
    a = list(s)
    
    a[p] = c
    print(a)

s = input()
p = int(input())          # index should be integer
c = input()

mutate_string(s, p, c)

beautiful
5
5
['b', 'e', 'a', 'u', 't', '5', 'f', 'u', 'l']

In [2]:
a = input().strip()
print(a)

a b c d e
a b c d e

In [2]:

def find (a,b) :
    
    a = "abcdcdc"
    b = "cdc"
    
    count =0
    for i in range (0,5) :
        
        if ( a[i : i+3] == b ) :
            count =count+1
            
    return (count)

a = "abcdcdc"
b = "cdc"

find(a,b)

2

In [1]:
a = "abcA"

print(a.islower())

False

In [2]:
a = "abcA"

print(a.isupper())

False

In [3]:
a = "abcd"
print(a.islower())

True

In [15]:
a = input()

print(a.isalnum())

b1 = any(b.isalpha()   for b in a )
print(b1)

b2 = any(b.isdigit()   for b in a )
print(b2)

b3 = any(b.islower()   for b in a )
print(b3)

b4 = any(b.isupper()   for b in a )
print(b4)

AAA2
True
True
True
False
True

In [17]:
from textwrap import *

def wrapping (string,width) :
    
    a = "ABCDEFGHIJKLIMNOQRSTUVWXYZ"
    b = fill(a,4)
    print(b)
    
wrapping (a,b)

ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ

In [20]:
from textwrap import *

def wrapping (string,width) :
    
    a = "ABCDEFGHIJKLIMNOQRSTUVWXYZ"
    b = wrap(a,4)
    print(b)
    
wrapping (a,b)

['ABCD', 'EFGH', 'IJKL', 'IMNO', 'QRST', 'UVWX', 'YZ']

In [8]:

def print_formatted(number):
    
    width=len(bin(number)[2:])

    for i in range(1,number+1):
    
        deci=str(i)
        octa=oct(i)[2:]
        hexa=(hex(i)[2:]).upper()
        bina=bin(i)[2:]
        print(deci.rjust(width),octa.rjust(width),hexa.rjust(width),bina.rjust(width))
    
number = int(input())      
print_formatted(number)

17
    1     1     1     1
    2     2     2    10
    3     3     3    11
    4     4     4   100
    5     5     5   101
    6     6     6   110
    7     7     7   111
    8    10     8  1000
    9    11     9  1001
   10    12     A  1010
   11    13     B  1011
   12    14     C  1100
   13    15     D  1101
   14    16     E  1110
   15    17     F  1111
   16    20    10 10000
   17    21    11 10001

In [11]:

for i in range(1,17):
    a = hex(i)[2 :].upper()
    print(a)

1
2
3
4
5
6
7
8
9
A
B
C
D
E
F
10

In [6]:
# convert to hour,minute,second


a = int(input("Enter seconds : "))

hour = a // 3600 
remain = a % 3600

minute = remain // 60
second = remain % 60

print(hour,"h",minute,"min",second,"s")

Enter seconds : 5000
1 h 23 min 20 s

In [2]:
import turtle 

wn = turtle.Screen()
tom =turtle.Turtle()
tom.forward(150)
tom.left(90)
tom.forward(75)

In [1]:
import turtle 

wn = turtle.Screen()
tom = turtle.Turtle()

distance = 50
for i in range(10) :
    tom.forward(distance)
    tom.right(90)
    distance = distance+10

In [1]:


def num_characters(string):
    total = 0
    for character in string:
        total += 1
    return total

string = "The quick brown rhino jumped over the extremely lazy fox."

print(f"The result is : {len(string)}")

The result is : 57

In [3]:
def num_characters(original_str):
    total = 0
    for character in original_str:
        total += 1
    return total

original_str = "The quick brown rhino jumped over the extremely lazy fox."
num_characters(original_str)
#print(f"The result is : {len(original_str)}")

57

In [4]:
original_str = "The quick brown rhino jumped over the extremely lazy fox."
num_chars = 0
for character in original_str:
    num_chars+= 1
print(num_chars)

57

In [31]:
addition_str = "2+5+10+20"

a = addition_str.split("+")
print(a)

b = [int(s) for s in a]
print(b)

sum =0
for i in b:
    sum= sum + i
print(sum)

['2', '5', '10', '20']
[2, 5, 10, 20]
37

In [16]:
lett = ''
for i in range(7):
    lett += 'b'
print(lett, end='')

bbbbbbb

In [ ]:
wn = turtle.Screen()
tom =turtle.Turtle()

for i in range(5) :
    tom.speed(0)
    tom.forward(150)
    tom.left(90)

In [18]:
s = "The quick brown rhino jumped over the extremely lazy fox"

a = list(map(len, s.split()))

print(a)

[3, 5, 5, 5, 6, 4, 3, 9, 4, 3]

In [38]:
a = "75.1,77.7,83.2,82.5,81.0,79.5,85.7"

b = a.split(",")
print(b)

c = [float(s) for s in b]

sum =0
for i in c:
    sum= sum + i
print(sum)

avg_temp = ( sum )/ 7
print(avg_temp)

['75.1', '77.7', '83.2', '82.5', '81.0', '79.5', '85.7']
564.7
80.67142857142858