In [16]:
percent_rain = [94.3, 45, 100, 78, 16, 5.3, 79, 86]
b = []

for i in percent_rain :
    
    if i > 90:
        a = b.append("Bring an umbrella")
    
    elif i >80 :
        a1 = b.append("Good for the flowers?")
        
    elif i> 50 :
        a2 = b.append("Watch out for clouds!")
        
    else :
        a3 = b.append("Nice day!")
        
print(b)

['Bring an umbrella', 'Nice day!', 'Bring an umbrella', 'Watch out for clouds!', 'Nice day!', 'Nice day!', 'Watch out for clouds!', 'Good for the flowers?']

In [19]:
words = ["water", "chair", "pen", "basket", "hi", "car"]

for i in words :
    a = len(i)
    print(a)
    
num_words = 0
for i in words :
    if len(i)>3 :
        
        num_words+=1
print("Total no. of words : ",num_words)

5
5
3
6
2
3
Total no. of words :  3

In [3]:
a =["make","take","adopt"]

list_that = [ ]

for i in a :
    b = len(i)
    if i[b-1] =="e" :
        c = i + "d"
        print(c)
        
    else :
        c = i + "ed"
        
        print(c)
    
    a = list_that.append(c)
print(list_that)

maked
taked
adopted
['maked', 'taked', 'adopted']

In [4]:
a = "1.65, 1.46, 2.05, 3.03, 3.35, 3.46, 2.83, 3.23, 3.5, 2.52, 2.8, 1.85"

b = a.split(",")
print(b)

c = [float(x) for x in b ]
print(c)

count =0
for i in c :
    if i > 3.0 :
        count = count + 1
        
print(count)

['1.65', ' 1.46', ' 2.05', ' 3.03', ' 3.35', ' 3.46', ' 2.83', ' 3.23', ' 3.5', ' 2.52', ' 2.8', ' 1.85']
[1.65, 1.46, 2.05, 3.03, 3.35, 3.46, 2.83, 3.23, 3.5, 2.52, 2.8, 1.85]
5

In [10]:
a = "students flock to the arb for a variety of outdoor activities such as jogging and picnicking"

b = a.split(" ") 
print(b)

c = [x for x in b]
print(c)

count = 0
for i in c :
    d = len(i) 
    if i[0] == i[d-1] :
        count = count +1
        
print(count)

['students', 'flock', 'to', 'the', 'arb', 'for', 'a', 'variety', 'of', 'outdoor', 'activities', 'such', 'as', 'jogging', 'and', 'picnicking']
['students', 'flock', 'to', 'the', 'arb', 'for', 'a', 'variety', 'of', 'outdoor', 'activities', 'such', 'as', 'jogging', 'and', 'picnicking']
2

In [18]:
a = ["whirring", "wow!", "calendar", "wry", "glass", "", "llama","tumultuous","owing"]

count = 0
for i in a :
    if "w" in i :
        count = count +1
        
print(count)

4

In [26]:
a = "python is a high level general purpose programming language that can be applied to many different classes of problems."

b = a.split(" ") 

c = [x for x in b]
print(c)

count = 0
for i in c :
    if "e" in i or "a" in i :
        count= count +1
        
print("The no. of words containing a or e : ",count)

['python', 'is', 'a', 'high', 'level', 'general', 'purpose', 'programming', 'language', 'that', 'can', 'be', 'applied', 'to', 'many', 'different', 'classes', 'of', 'problems.']
The no. of words containing a or e :  14

In [27]:
s = "singing in the rain and playing in the rain are two entirely different situations but both can be fun"

vowels = ['a','e','i','o','u']

count = 0
for i in s :
    if i in vowels :
        count = count + 1

print(count)

32

In [37]:
winners = ['Alice Munro', 'Alvin E. Roth', 'Kazuo Ishiguro', 'Malala Yousafzai', 'Rainer Weiss', 'Youyou Tu']


z_winners = winners.reverse()

print(winners)
print(z_winners)

['Youyou Tu', 'Rainer Weiss', 'Malala Yousafzai', 'Kazuo Ishiguro', 'Alvin E. Roth', 'Alice Munro']
None

In [48]:
numbs = [5, 10, 15, 20, 25]

a = 5

numbs = [(x + a) for x in numbs ]
print(numbs)

[10, 15, 20, 25, 30]

In [52]:
# How many are above or equal 90


scores = "67 80 90 78 93 20 79 89 96 97 92 88 79 68 58 90 98 100 79 74 83 88 80 86 85 70 90 100"

a = scores.split(" ")
print(a)

b = [int(x) for x in a]
print(b)

count = 0
for i in b :
    if i>= 90 :
        count = count + 1
        
print(count)

['67', '80', '90', '78', '93', '20', '79', '89', '96', '97', '92', '88', '79', '68', '58', '90', '98', '100', '79', '74', '83', '88', '80', '86', '85', '70', '90', '100']
[67, 80, 90, 78, 93, 20, 79, 89, 96, 97, 92, 88, 79, 68, 58, 90, 98, 100, 79, 74, 83, 88, 80, 86, 85, 70, 90, 100]
10

In [67]:
# print the first letter of main words in capital


org = "The organization for health, safety, and education"

a = org.split(" ")
print(a)

b = [x for x in a]
print(b)

for i in b :
    c = len(i)
    if c>3 :
        d = i[0]
        e = d.upper()
        
        print(e, end="")

['The', 'organization', 'for', 'health,', 'safety,', 'and', 'education']
['The', 'organization', 'for', 'health,', 'safety,', 'and', 'education']
OHSE

In [74]:
# print 1st two letters in capital


sent = "The water earth and air are vital"

a = sent.split(" ")
print(a)

b = [x for x in a]
print(b)

b.remove("The")
b.remove("and")
print(b)

for i in b :
    
    d = i[0 : 2]
    e = d.upper()
        
    print(e, end=".")

['The', 'water', 'earth', 'and', 'air', 'are', 'vital']
['The', 'water', 'earth', 'and', 'air', 'are', 'vital']
['water', 'earth', 'air', 'are', 'vital']
WA.EA.AI.AR.VI.

In [94]:
p_phrase = "was it a car or a cat I saw"

a = p_phrase.split(" ")
print(a)

b = [x for x in a]
print(b)

for i in b:
    r = "".join(reversed(i))
    print(r, end= " ")

['was', 'it', 'a', 'car', 'or', 'a', 'cat', 'I', 'saw']
['was', 'it', 'a', 'car', 'or', 'a', 'cat', 'I', 'saw']
saw ti a rac ro a tac I was

In [88]:
a = "anik,amit"

for i in a :
    
    b= "".join(reversed(a))
print(b,end= " ")

tima,kina

In [2]:
p_phrase = "was it a car or a cat I saw"

r = "".join(reversed(p_phrase))
print(r, end= "")

was I tac a ro rac a ti saw

In [27]:
inventory = ["shoes, 12, 29.99", "shirts, 20, 9.99", "sweatpants, 25, 15.00", "scarves, 13, 7.75"]


for i in inventory :
    a = i.split(",")
    print(a)
    
    no = a[1]
    item =a[0]
    taka = a[2]
    
    print(f"The store has {no} {item}, each for {taka} USD ")

['shoes', ' 12', ' 29.99']
The store has  12 shoes, each for  29.99 USD
['shirts', ' 20', ' 9.99']
The store has  20 shirts, each for  9.99 USD
['sweatpants', ' 25', ' 15.00']
The store has  25 sweatpants, each for  15.00 USD
['scarves', ' 13', ' 7.75']
The store has  13 scarves, each for  7.75 USD

In [28]:
inventory = ["shoes, 12, 29.99", "shirts, 20, 9.99", "sweatpants, 25, 15.00", "scarves, 13, 7.75"]

for i in inventory :
    a = i.split(",")
    #print(a)
    
    no = a[1]
    item =a[0]
    taka = a[2]
    
    print(f"The store has {no} {item}, each for {taka} USD.")

The store has  12 shoes, each for  29.99 USD.
The store has  20 shirts, each for  9.99 USD.
The store has  25 sweatpants, each for  15.00 USD.
The store has  13 scarves, each for  7.75 USD.